@page "/rf";

<h3>RFMain</h3>

<RFInput Label="Name">
    <InputField>
        <input type="text" name="name" placeholder="name"/>
    </InputField>
</RFInput>
<RFInput Label="email">
    <InputField>
        <input type="text" name="email" placeholder="email" />
    </InputField>
</RFInput>
<RFInput Label="title">
    <InputField>
        <input type="text" name="title" placeholder="title" />
    </InputField>
</RFInput>

@code {

}
